<div class="row">
	<div class="col-md-4">
		<div class="dialog-window">
			<div class="form-group">
				<label>
					Title <input type="text" class="form-control" placeholder="Enter Title" [(ngModel)]="newTask.header"
					             name="header" #header="ngModel" required>
				</label>
				<div [hidden]="header.valid || header.untouched" class="alert alert-danger">
					Не указан заголовок
				</div>
			</div>
			<div class="form-group">
				<label>Text input
					<textarea class="form-control" rows="3" placeholder="Enter Text"
					          [(ngModel)]="newTask.content" name="content" #content="ngModel" required></textarea>
				</label>
				<div [hidden]="content.valid || content.untouched" class="alert alert-danger">
					Не указано описание
				</div>
			</div>
			<div class="form-group">
				<label>Priority
					<select class="custom-select" [(ngModel)]="newTask.priority">
						<option value="0" selected>Hi</option>
						<option value="1">Middle</option>
						<option value="2">Low</option>
					</select>
				</label>
			</div>
			<div class="dialog-window-buttons">
				<button type="button" class="btn btn-primary" (click)="addNewTask()"
				        [disabled]="header.invalid || content.invalid">Ok
				</button>
				<button type="button" class="btn btn-danger" (click)="cancelNewTask()">Cancel</button>
			</div>
		</div>
	</div>
</div>
