a {
    color: inherit;
}
.priority-0 {
    background-color: #ffb98e;
}
.priority-1 {
    background-color: #8bceff;
}
.priority-2 {
    background-color: #fcffb0;
}
.buttons-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.task-style {
    border: 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
}
.border-color-2 {
    border-color: #edff6c;
}
.border-color-1 {
    border-color: #8bceff;
}
.border-color-0 {
    border-color: #ffb98e;
}